{% set classes = ['c-button'] %}
{% if secondary %}
    {% set classes = classes|merge(['c-button-secondary']) %}
{% else %}
    {% set classes = classes|merge(['c-button-primary']) %}
{% endif %}

<button class="{{classes|join(' ')}}">
    {% if icon %}
        <img class="icon" src="{{icon}}" />
    {% endif %}
    {{ text|default('Send') }}
    {% if arrow %}
        {% include "icon.twig" %}
    {% endif %}
</button>