{% for link in links %}
    {# Top level entry that is not clickable; if it's the current page, destinationPath will be ''
    therefore we have to also check if link is not active #}
    {% if not link.destinationPath and not link.active %}
        <p class="menu-label">
            {{link.title}}
        </p>
        {% if link.children %}
            <ul class="menu-list">
                {% include "navigation-entry.twig" with {'links': link.children} only %}
            </ul>
        {% endif %}
    {# Entry that is clickable #}
    {% else %}
        <li>
            <a href="{{link.destinationPath}}" {% if link.active %}class="is-active"{% endif %} >
                {{link.title}}
            </a>
            {% if link.children %}
                <ul class="menu-list">
                    {% include "navigation-entry.twig" with {'links': link.children} only %}
                </ul>
            {% endif %}
        </li>
    {% endif %}


{% endfor %}
